*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Inter', 'Roboto', sans-serif;
  background-color: #fff;
  color: #0f172a;
}

img {
  max-width: 100%;
  display: block;
}
